// @import "1-base/base"
@import 'custom';
@import 'variable';

body {
    display: block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color:#2A2A2A
}
.navbar{
    height:77px;
    .navbar-img{
        position: relative;
        top: 9px;
        left: 72px;
        width: 301px;
        height: 64px;
        background: transparent url('../../images/Image\ 88@2x.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        @media only screen and (max-width: 767px) {
            top: 8px;
            left: 9px;
            width: 183px;
            height: 39px;
            background: transparent url('../../images/Image\ 88.png') 0% 0% no-repeat padding-box;
        }
    }
    @media only screen and (max-width: 767px) {
        height:55px;
    }
}

.hero-img{
    position: absolute;
    top: 17px;
    right: 7rem;
    img{
        width: 415px;
        height: 585px;
    }
    @media only screen and (max-width: 767px) {
        top: 35px;
        right: 0rem;
        img{
            width: 223px;
            height: 310px;
        }
    }
}

.hero-section{
    display: flex;
    height: 525px;
    background-color: $starbucks-green;
    .hero-desc{
        margin-top: 10px;
        display: flex;
        align-items: center;
        .title{
            width: 45%;
            margin-left: 85px;
            color:#fff;
            z-index: 1000;
            @media only screen and (max-width: 767px) {
                margin-left: 17px;
            }
        }
        .heading{
            font-size: 48px;
            font-weight: 900;
            letter-spacing: -0.24px;
            line-height: 48px;
            @media only screen and (max-width: 767px) {
                font-size: 24px;
                letter-spacing: -0.12px;
                line-height: 29px;
            }
        }
        .sub-heading{
            margin-top: 16px;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 25px;
            @media only screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        height: 290px;
    }
}

.section-two{
    text-align: center;
    color: #2A2A2A;
    margin: 96px 0;
    display: flex;
    justify-content: center;
    .section{
        width: 69%;
    }
}

.heading{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.18px;
    line-height: 43px;
    margin-bottom: 48px;
    @media only screen and (max-width: 767px) {
        font-size: 24px;
        letter-spacing: -0.12px;
        line-height: 29px;
        text-align: center;
    }
}
.sub-heading{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.08px;
    line-height: 22px;
    @media only screen and (max-width: 767px) {
        font-size: 16px;
    }
}

.yellow-tag{
    background-color: $ASUGold;
}

.sections{
    padding: 0 85px;
    margin-bottom: 96px;
    @media only screen and (max-width: 767px) {
        padding: 0 40px;
        margin-bottom: 50px;
    }
}

.section-three{
    img{
        width: 100%;
        content:url("../../images/Group 8297@2x.png");
        @media only screen and (max-width: 767px) {
            width: 100%;
            content:url("../../images/Group 8301.png");
        }
    }
    ul{ list-style: none;}
    li{
        margin-bottom: 24px;
        &::before{
            content: "\2022";
            color: $starbucks-green;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
            font-size: 30px;
        }
    }
    .card{
        width: 130%;
        border: none;
        margin-top: 2rem;
        padding: 1.5rem 0;
        @media only screen and (max-width: 767px) {
            width: 90%; 
            margin-top: -4rem;
            padding: 1.5rem 1.5rem;
        }
    }
    .card-text{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.18px;
        line-height: 24px;
        text-align: justify;
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
    @media only screen and (max-width: 767px) {
        .pull-column{
            display: flex;
            justify-content: center;
        }
    }
}

.section-four{
    display: flex;
    justify-content: center;
    text-align: center;
    .big-img{
        background-image:url("../../images/Path25440.svg");
        background-repeat: no-repeat;
        height:100%;
        padding-top: 3rem;
    }
    .sub-section{
        width: 639px;
    }
    .small-img{
        margin-top: -40px;
    }
    .heading{
        font-size: 48px;
    }
    .subheading{
        font-size: 24px;
        letter-spacing: -0.12px;
        line-height: 29px;
    }
}
  
@media (min-width: 767px) {
    .block {
        position: relative;
        float: left;
    }
    .push-column {
        left: 50%;
        right: auto;
    }
    .pull-column {
        left: auto;
        right: 50%;
    }
}

.rev-three{
    .card {
        width: 120%;
        margin-left: -5rem;
        z-index: 1000;
    }
}
.rev-four{
    .big_img{
        background-image:url("../../images/Path25440.svg");
        background-repeat: no-repeat;
        height:100%;
        padding-top: 3rem;
    }
}