:root {

/* Colors: */
--starbucks-green: #1F3933;
--white-color-ffffff: #FFFFFF;
--spacing-color: #00FFFF;
--asu-gold-color-ffc627: #FFC627;
--font-color-2a2a2a: #2A2A2A;
--gray-global-footer-color-e5e5e5: #E5E5E5;
--unnamed-color-29413b: #29413B;
--asu-maroon-color-8c1d40: #8C1D40;
--info-color-008ed6: #00A3E0;
--success-color-148e4b: #78BE20;
--asu-orange-color-ff7f32: #FF7F32;
--black-color-000000: #000000;
--dark-color-1e1e1e: #1E1E1E;
--gray-color-f1f1f1: #F1F1F1;
--starbucks-color-00704a: #00704A;
--asia-society-primary-color-00154d: #00154D;
--asia-society-secondary-color-ef4e1e: #EF4E1E;
--agfe-purple-color-842a97: #842A97;
--agfe-orange-color-ff6a13: #FF6A13;
--secondary-cta-button-color-dbdbdb: #DBDBDB;
--hover-maroon-button-color-d23153: #D23153;
--hover-gold-button-color-ffd053: #FFD053;
--hover-blue-button-color-0085e2: #0085E2;
--hover-gray-button-color-f2f2f2: #F2F2F2;
--blue-explore-button-007bb6: #007BB6;
--warning-color-ec5937: #9E3F5D;
--danger-color-bfe319: #BFE319;
--unnamed-color-006340: #006340;

/* Font/text values */
--unnamed-font-family-roboto: Roboto;
--unnamed-font-family-sodo-sans: SoDo Sans;
--unnamed-font-family-lander-short: Lander Short;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-12: 12px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-21: 21px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-32: 32px;
--unnamed-font-size-36: 36px;
--unnamed-font-size-48: 48px;
--unnamed-font-size-56: 56px;
--unnamed-font-size-60: 60px;
--unnamed-font-size-72: 72px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing--0-08: -0.08px;
--unnamed-character-spacing--0-09: -0.09px;
--unnamed-character-spacing--0-1: -0.1px;
--unnamed-character-spacing--0-12: -0.12px;
--unnamed-character-spacing--0-15: -0.15px;
--unnamed-character-spacing--0-18: -0.18px;
--unnamed-character-spacing--0-24: -0.24px;
--unnamed-character-spacing--0-28: -0.28px;
--unnamed-character-spacing--0-6: -0.6px;
--unnamed-character-spacing--0-36: -0.36px;
--unnamed-character-spacing-0-06: 0.06px;
--unnamed-character-spacing-0-07: 0.07px;
--unnamed-character-spacing-0-08: 0.08px;
--unnamed-character-spacing-0-09: 0.09px;
--unnamed-character-spacing-0-12: 0.12px;
--unnamed-character-spacing-0-72: 0.72px;
--unnamed-line-spacing-17: 17px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-20: 20px;
--unnamed-line-spacing-22: 22px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-29: 29px;
--unnamed-line-spacing-34: 34px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-38: 38px;
--unnamed-line-spacing-43: 43px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-48: 48px;
--unnamed-line-spacing-58: 58px;
--unnamed-line-spacing-62: 62px;
--unnamed-line-spacing-67: 67px;
--unnamed-line-spacing-72: 72px;
--unnamed-line-spacing-86: 86px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing--0-08);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing--0-08);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing--0-09);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing--0-1);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-29);
letter-spacing: var(--unnamed-character-spacing--0-12);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-29);
letter-spacing: var(--unnamed-character-spacing--0-12);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-7 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-48);
letter-spacing: var(--unnamed-character-spacing--0-12);
color: var(--unnamed-color-000000);
}
.unnamed-character-style-8 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-36);
letter-spacing: var(--unnamed-character-spacing--0-15);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-9 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-36);
line-height: var(--unnamed-line-spacing-43);
letter-spacing: var(--unnamed-character-spacing--0-18);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-10 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-48);
line-height: var(--unnamed-line-spacing-58);
letter-spacing: var(--unnamed-character-spacing--0-24);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-11 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-56);
line-height: var(--unnamed-line-spacing-67);
letter-spacing: var(--unnamed-character-spacing--0-28);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-12 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-60);
line-height: var(--unnamed-line-spacing-72);
letter-spacing: var(--unnamed-character-spacing--0-6);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-13 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-72);
line-height: var(--unnamed-line-spacing-86);
letter-spacing: var(--unnamed-character-spacing--0-36);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-14 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-17);
letter-spacing: var(--unnamed-character-spacing-0-06);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-15 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-20);
letter-spacing: var(--unnamed-character-spacing-0-07);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-16 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing-0-08);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-17 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing-0-09);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-18 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-34);
letter-spacing: var(--unnamed-character-spacing-0-12);
color: var(--unnamed-color-2a2a2a);
}
.unnamed-character-style-19 {
font-family: var(--unnamed-font-family-sodo-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-48);
line-height: var(--unnamed-line-spacing-62);
letter-spacing: var(--unnamed-character-spacing-0-72);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-20 {
font-family: var(--unnamed-font-family-sodo-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-25);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-21 {
font-family: var(--unnamed-font-family-lander-short);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-32);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-29413b);
}
.unnamed-character-style-22 {
font-family: var(--unnamed-font-family-lander-short);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-36);
line-height: var(--unnamed-line-spacing-44);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-29413b);
}